DEBUG=True
SECRET_KEY=!)qh(v$f#u!22neqb2@p^*s6p^ic
SERVER=0.0.0.0

SQL_ENGINE=django.db.backends.postgresql_psycopg2
SQL_DATABASE=delivery
SQL_USER=postgres
SQL_PASSWORD=postgres
#SQL_HOST=db
SQL_HOST=localhost
SQL_PORT=5432

JWT_SECRET_KEY=u!22neqb2@p^*s6p^ic